{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block navbar %}

            {% include 'nav.html' %}
            
{% endblock %}

{% block content %}




            
                        <section class="book" id="book">

    <h1 class="heading"> <span>book</span> now </h1>    

    <div class="row">

        <div class="image">
        </div>


                         
                                <form action="" method="POST">
                                    {% csrf_token %}
                <input type="date" placeholder="Date" class="box" id="date" name="date">
                                

                <input type="text" placeholder="Tare" class="box" id="tare" name="tare">
                     
                <input type="text" placeholder="Prescription/observation" class="box" id="presciption" name="Prescription_Observations">

<input type="text" placeholder="Prescripteur" class="box" id="Prescripteur" name="Prescripteur">
                <input type="text" placeholder="Lieu" class="box" id="lieu" name="lieu">
                                

                <input type="text" placeholder="Fichier" class="box" id="fichier" name="fichier">
                            
            <input type="Enregistrer" value="book now" class="btn">
                                    </div>     
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   
        </section>
       

<script src="{% static 'js/script.js' %}"></script>

        {% endblock %}
    </body>
</html>
