
{% extends 'carnet.html' %}


{% load static %}
{% load crispy_forms_tags %}


{% block navbar %}

{% include 'nav.html' %}
            
{% endblock %}

{% block content %}
{{ block.super }} 

   {% if autes %}             
 <section id="tabl1">
 
<table class="table table-bordered">
  <thead class="table-active" style="font-size:17px;">
    <tr>  
      <th scope="col">Date</th>
      <th scope="col">Episode essentiels de maladie</th>
      <th scope="col">Prescription-Observations</th>
      <th scope="col">Prescripteur</th>
      <th scope="col">Lieu</th>
      <th scope="col">fichier joint</th>
    </tr>
                               
    </thead>  

 
  <tbody>
    {% for y in autes %}
    <tr style="font-size:17px;">
      <td>{{y.date}}</td>
      <td>{{y.Episode_essentiels_de_maladie}}</td>
      <td>{{y.Prescription_Observations}}</td>
      <td>{{y.Prescripteur}}</td>
      <td>{{y.lieu}}</td>
      <td>{{y.fichier}}</td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>


<br><br>
<center><a href="{% url 'ajouAutre' %}" class="btn btn-primary">Ajouter</a></center>  

{% else %}

</div><br><br>

<center> Pas de contenu<a href="{% url 'ajouAutre' %}" class="btn btn-primary">Ajouter</a></center>  
</section><br>
{% endif %}
    {% endblock %}

  </body>
</html>


