{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block navbar %}

            {% include 'nav.html' %}
            
{% endblock %}

{% block content %}


	<section class="review" id="review">
    
    <h1 class="heading"> Carnet de  <span>santé de:</span> </h1>

    <div class="box-container">

        <div class="box">
                        <img src="{{ carnet.photo.url}}">

                        
            <h3>Mon carnet personnel</h3><br><br><br><br>

						<p style="font-size:25px ;">Nom: {{carnet.Nom}}<br>
							Prénom: {{carnet.Prenom}}<br>
                            Genre: {{carnet.sexe}}<br>
							Date de naissance: {{carnet.Date_de_naissance}}<br>
							Profesion:{{carnet.Profession}}<br>
							Secteur ou village: {{carnet.Secteur_ou_village}}<br>
						</p>
                       
                      
						
					</div>
				</div>
			</div>
		</section>


		
<section class="blogs" id="blogs">

    <h1 class="heading"> Vos<span>antécedants</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">


            </div>
            <div class="content">
               
                <h3>Antécédants Familiaux</h3>
                <p> Ici vous verrez les maladies héréditaires de {{carnet.Nom}} {{carnet.Prenom}}</p>
                <a href="{% url 'familiaux' %}" class="btn"> Voir plus <span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>



         <div class="box">
            <div class="image">


            </div>
            <div class="content">
                
                <h3>Antécédants vaccinals</h3>
                <p>
							Les détails sur les doses de vaccins préalablement fait par {{carnet.Nom}} {{carnet.Prenom}}.  
						</p>
                <a href="{% url 'vaccinal' %}" class="btn">Voir plus  <span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>





 <div class="box">
            <div class="image">


            </div>
            <div class="content">
               
                <h3>Autres</h3>
                <p>
								Les détails sur les différentes services sanitaires(consultation,soins,prescription,...) reçut par {{carnet.Nom}} {{carnet.Prenom}}
							</p>
                <a href="{% url 'autre' %}" class="btn"> Voir plus <span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>


		</section>




<script src="{% static 'js/script.js' %}"></script>


		{% endblock content %}
</body>
</html>