{% extends 'base.html' %}

{% load static %}


{% block navbar %}

            {% include 'nav.html' %}
            
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}




<section class="book" id="book">

    <h1 class="heading"> <span>book</span> now </h1>    

    <div class="row">

        <div class="image">

             <h2 class="text-uppercase" style="font-size:45px ;">

             Creer votre compte</h2><br><br>
                            <p style="font-size:25px ;">Vous voulez enfin stocker vos informations médicales dans le cloud ??  Remplissez ce formulaire pour obtenir votre carnet de santé numérique.  </p><br>  <br><br>    

<p style="font-size:25px ;">Avec Karnet, Plus besoins de manipuler un carnet de santé physique</p>
                             


                                        </div>
                
        <form action="" method="POST" >
            {% csrf_token %}
            

                        

            <h3>Renseigner ce formulaire</h3>

            {{ form|crispy }} 
             <!-- <input type="text" placeholder="Nom d'utilisateur" class="box" name="username" >

            <input type="password" placeholder="Mot de passe" name="password1" class="box">
            <input type="password" placeholder="Mot de passe" name="password2" class="box"> -->
            <!-- <input type="password" placeholder="Confirmer le mot de passe" name="password" class="box"> -->


            
            <input type="submit" value="connecter" class="btn">

        </form>

    </div>

</section>

<script src="{% static 'js/script.js' %}"></script>

        
        

{% endblock %}
        
    </body>
</html>
