{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block navbar %}

            {% include 'nav.html' %}
            
{% endblock %}

{% block content %}
                    {% include 'carnet.html' %}



<section id="tabl1">
	<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Tare</th>
      <th scope="col">Prescription-Observations</th>
      <th scope="col">Prescripteur</th>
      <th scope="col">Lieu</th>
      <th scope="col">fichier joint</th>
    </tr>
  </thead>
  <tbody>
    {% for family in familiau %}
    <tr>
      <th scope="row">{{family.date}}</th>
      <td>{{family.Tare}}</td>
      <td>{{family.Prescription_Observations}}</td>
      <td>{{family.Prescripteur}}</td>
      <td>{{family.lieu}}</td>
      <td>{{family.fichier}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table><br><br>

       <p> <h3 style="text-align: center;"> <a href="{% url 'ajoufamiliaux' %}" class="btn btn-primary">Ajouter</a> </h3></p><br>  

</section><br>
  
    

    {% endblock %}
  </body>
</html>