{% extends 'carnet.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block navbar %}

{% include 'nav.html' %}
            
{% endblock %}

{% block content %}
{{ block.super }} 

{% if familiau %}
<section id="tabl1">
	<table class="table table-bordered">
  <thead class="table-active" style="font-size:17px;">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Tare</th>
      <th scope="col">Prescription-Observations</th>
      <th scope="col">Prescripteur</th>
      <th scope="col">Lieu</th>
      <th scope="col">fichier joint</th>
    </tr>
  </thead>
  <tbody>
    {% for z in familiau %}
    <tr style="font-size:17px;">
      <th scope="row">{{z.date}}</th>
      <td>{{z.Tare}}</td>
      <td>{{z.Prescription_Observations}}</td>
      <td>{{z.Prescripteur}}</td>
      <td>{{z.lieu}}</td>
      <td><a href="{{z.fichier.url}}" class="btn btn-primary">{{z.fichier}}</a></td>

    </tr>
    {% endfor %}
  </tbody>
</table><br><br>
<p> <h3 style="text-align: center;"> <a href="{% url 'ajoufamiliaux' %}" class="btn btn-primary">Ajouter</a> </h3></p><br> 
{% else %}

       <p> <h3 style="text-align: center;">Pas d'antecedant familiaux <a href="{% url 'ajoufamiliaux' %}" class="btn btn-primary">Ajouter</a> </h3></p><br>  
{% endif %}
</section><br>
  
    

    {% endblock %}
  </body>
</html>