{% extends 'base.html' %}

{% load static %}


{% block navbar %}

            {% include 'nav.html' %}
            
{% endblock %}


{% block content %}





                    
                        <section class="book" id="book">

    <h1 class="heading"> <span>book</span> now </h1>    

    <div class="row">

        <div class="image">
  <h2 class="text-uppercase" style="font-size:45px ">Creer votre carnet</h2>
                            <p style="font-size:25px ;">Vous voulez enfin stocker vos informations médicales dans le cloud ??  Remplissez ce formulaire pour obtenir votre carnet de santé numérique.  </p><br>     

<p style="font-size:25px ;">Avec Karnet, Plus besoins de manipuler un carnet de santé physique</p>
                              </div>

                                 
            <form action="" method="POST">
                {% csrf_token %}
            <h3><a href="{% url 'Carnet' %}"><span>Mon Carnet </span></a> ou Créez en un </h3>
            <input type="texte"  id="user" value="{{request.user}}" class="box" name="vaccine" readonly>

            <input type="texte"  placeholder="Nom" class="box" id="nom" name="Nom">

            <input type="text"  placeholder="Prenom" class="box" id="prenom" name="Prenom">

           <input type="date" class="box" id="naiss" placeholder="Date de naissance" name="Date_de_naissance">


                <input type="text"  placeholder="Profession" class="box" id="job" name="Profession">


                <input type="text"  placeholder="Localité" class="box" id="secteur" name="Secteur_ou_village">
                                

            <input type="file"  id="photo" placeholder="Photo" class="box" name="photo">
                <label>M</label>
                <input type="radio"  class="box" id="sexe"  name="sexe">
                <label>F</label>
                <input type="radio"  class="box" id="sexe" name="sexe">
 
            <input type="submit" value="Enregistrer" class="btn">
        </form>
                            </div>
                        </div>
                    </div>
                </div>
           
        </section>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}        
    </body>
</html>
