{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block navbar %}

            {% include 'nav.html' %}
            
{% endblock %}

{% block content %}
{% include 'carnet.html' %}
<section id="tabl2">
	<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Vaccins</th>
      <th scope="col">Dose</th>
      <th scope="col">Prescripteur</th>
      <th scope="col">Lieu</th>
    </tr>
  </thead>
  <tbody>
    {% if vaccinale %}
    <tr>
      <th scope="row" class="box">{{vaccinale.date}}</th>
      <td class="box">{{vaccinale.Vaccin}}</td>
      <td>{{vaccinale.Prescription_Observations}}</td>
      <td>{{vaccinale.Prescripteur}}</td>
      <td>{{vaccinale.lieu}}</td>
    </tr>
    {% endif %}
  </tbody>
</table><br><br>

<p> <h3 style="text-align: center;"><a href="{% url 'ajouvaccin' %}" class="btn btn-primary">Ajouter</a> </h3></p><br><br>  
</section>
    {% endblock %}
  </body>
</html>