{% extends 'carnet.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block navbar %}

{% include 'nav.html' %}
            
{% endblock %}

{% block content %}
{{ block.super }} 
{% if vaccinale %}
<section id="tabl2">
	<table class="table table-bordered">
  <thead class="table-active" style="font-size:17px;">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Vaccins</th>
      <th scope="col">Dose</th>
      <th scope="col">Prescripteur</th>
      <th scope="col">Lieu</th>
    </tr>
  </thead>
  <tbody>
    {% for x in vaccinale %}
    <tr style="font-size:17px;">
      <th scope="row" class="box">{{x.date}}</th>
      <td class="box">{{x.Vaccin}}</td>
      <td>{{x.Prescription_Observations}}</td>
      <td>{{x.Prescripteur}}</td>
      <td><a href="{{x.lieu.url}}" class="btn btn-primary">{{x.lieu}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table><br><br>

<p> <h3 style="text-align: center;"><a href="{% url 'ajouvaccin' %}" class="btn btn-primary">Ajouter</a> </h3></p><br><br> 
{% else %} 

<p> <h3 style="text-align: center;"> Pas d'entécédant vaccinal<a href="{% url 'ajouvaccin' %}" class="btn btn-primary">Ajouter</a> </h3></p><br><br> 
</section>
{% endif %}
    {% endblock %}
  </body>
</html>